/* start the body size and color  */
body{
    width: 700px;
    background-color:ivory;
    margin: auto;
    padding: 5px;
}
/* styles of nav bar  */
nav{
    max-width: 100%;
}
nav li{
    list-style: none;
    padding: 5px;
}
nav li:nth-child(odd){
    background-color: #5c5959;
    color: rgb(211, 186, 186);
}
nav li:nth-child(even){
    background-color: #d9d5d5;
    color: black;
}
nav ul{
    display: flex;
}
.find{
    width: 20%;
    text-align: center;
}
.fellow{
    width: 10%;
    text-align: center;
    font-size:medium;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid #393636c1;
}
.contact{
    width: 70%;
    padding: 5px 5px 5px 15px;
    text-align: left;
    font-size:medium;
}

/* parametre carousel  */

.carousel{
    max-width: 100%;
    background-color: #ececec;
    padding-bottom: 200px;
}

/* center section text "Fellows" and font size  */
.box-fellow{
    max-width: 100%;
    text-align: center;
    font-family:  Calibri, 'Trebuchet MS';
    font-weight: 700;
}
h2{
    padding: 20px 0 20px 0;
}
strong{
    font-size: 1.5em;
}

/* Box "fellow" section sizing and flex  */

.box_article_1,.box_article_2,.box_article_3{
    width: 32.5%;
    padding-bottom: 250px;
    background-color:#ececec;
}

.box_article{
    margin: auto;
    display: flex;
    max-width: 98%;
    justify-content: space-between;
}

/* moduled the formular */

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 98%;
    border-top: 2px solid #5c5959;
    margin-top: 50px;
}
.form_contact{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Trebuchet MS';
    color:#5c5959;
}
.form_email,.form_text,.form_text2,.form_textaera{
    width: 90%;
    margin: auto;
    margin-top: 20px
}
.form_textaera{
    padding-bottom: 100px;
}